:root {
  --body-color: #212121;
  --main-color: #757575;
  --primery-white-color: #ffffff;
  --accent-color: #2196f3;
}
body {
  font-family: roboto;
  color: var(--body-color);
}

.button li {
  list-style: none;
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* logo-header */
.logo-header {
  color: var(--body-color);
  text-decoration: none;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  
}
.logo-header span {
  color: var(--accent-color);
}





/* header-navigation*/
.header{
  border-bottom: 1px solid #ECECEC;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-header {
  display: flex;
  margin-left: 93px;
}

.list-header .item:not(:last-child) {
  margin-right: 50px;

}
.list-header .link:focus,
.list-header .link:hover {
  color: var(--accent-color);
}

.list-header .link {
  color: var(--body-color);
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  cursor: pointer;
  
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* tel-navigaion*/

.tel-navigation  {
  display: inline-flex;
  margin-left: auto;
}

.tel-navigation .link:focus:focus,
.tel-navigation .link:hover {
  color: var(--accent-color);
}

.tel-navigation .link {
  color: var(--main-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  cursor: pointer;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.tel-navigation .item:not(:last-child) {
  margin-right: 50px;
}

.item-mail{
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-mail,.link-tel{
  display: flex;
  align-items: center;
  justify-content: center;
}


.link-icon{
  fill: currentColor;
  margin-right: 10px;
}

.link-icon:hover,
.link-icon:focus{
  fill: currentColor;
}


.link:hover,
.link:focus{
  color: var(--accent-color);
}


/* section-hero */
.section-hero {
  text-align:center;
  padding-bottom: 210px;
  padding-top: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.section-hero .title-hero {
  color:var(--primery-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
  max-width: 696px;

  display: inline-block;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
  
}

.section-hero h3 {
  color: var(--body-color);
  margin-bottom: 10px;
}
.section-hero p {
  color: var(--main-color);
}
/* button */
.button-hero {
  display: block;
  text-align:center ;
  color: var(--primery-white-color);
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  
  padding: 10px 32px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-hero {
  margin: 0 auto;
  text-align: center;
}
/* Section team */
.section-aside{
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-list li{
  width: 270px;
}

.section-list h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.section-list p {
  color: var(--main-color);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}


.section-list li{
  margin-right: 30px;
}

.section-list li:last-child{
  margin-right: 0px;
}

.section-list {
  display: flex;
  }
  
  .section-img h2 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }

.box-icon{
  width: 270px;
  height: 120px;
  background-color:#F5F4FA;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}




  .section-img .list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-img .item{
  margin-right: 30px;
}
.section-img .item:last-child{
  margin-right: 0px;
}

.section-img{
  padding-bottom: 94px;
}

/* section-team*/


.section-team{
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}


  .section-team h2 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  
  .section-team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: center;
  }
  
  .section-team p {
    font-weight: 400;
    font-size: 16px;
    color:#757575;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 16px;
  }
.item{
  background-color:#ffffff;
}
  .team-item{
padding-top: 30px;
padding-bottom: 30px;
  }
  
  .section-team .list{
    display: flex;
    align-items: center;
  justify-content: center;
  }

  .section-team .item{
    margin-right: 30px;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
  }
  .section-team .item:last-child{
    margin-right: 0px;
  }

  .team-social-list{
    display: flex;
    justify-content: center;
    background-color: var(--primery-white-color);
  }
    .team-social-item{
      width: 44px;
      height: 44px;
    }

    .team-social-item+.team-social-item{
      margin-left: 10px;
    }
 
    .team-social-link{
      
      width: 100%;
      height: 100%;
      display: inline-block;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #AFB1B8;
      }

      .team-social-icon{
        fill: currentColor;
      }

      .team-social-link:hover,
      .team-social-link:focus{
  background-color:var(--accent-color);
      color: #ffffff;
}


.team-social-link:hover,
.team-social-link:focus{
  fill: #ffffff;
}
  

.section-client{
  padding-top: 94px;
  padding-bottom: 94px;
}


.section-client h2{
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 50px;
}


.client-list{
  display: flex;
  justify-content: center;
  align-items: center;
}


.client-item{
 
  display: flex;
  justify-content: center;
    align-items: center;
    width: 170px;
    height:92px;
   
  }

  
   .client-link {
      color:#AFB1B8;
      width: 170px;
      height: 92px;
      display: flex;
      border: 1px solid #AFB1B8;
      border-radius: 4px;
      justify-content: center;
    align-items: center;
    }


  .client-icon {
    fill: currentColor;
  }
  .client-link:hover ,
  .client-link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }


.client-item + .client-item{
  margin-left: 30px;
}

  /* footer */

  footer{
    background-color: #2F303A;
  }
.container-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: baseline;
}

.logo-footer {
  color: var(--primery-white-color);
  text-decoration: none;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  display: flex;
  margin-bottom: 20px;
  
}

.logo-footer .web {
  color: var(--accent-color);
}
.logo-footer span {
  color: var(--primery-white-color);
}

.address p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  
}
.address .link {
  color: #FFFFFF99;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 9px;
  
}



.address p{
  color: var(--primery-white-color);
  margin-right: 70px;
}
.address .link-tel{
  display: block;
}

.join-list{
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-text{
  display: flex;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 1.1;
  letter-spacing: 0.03em; 
}

.join-item{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-top: 20px;
}

.join-item + .join-item{
  margin-left: 10px;
}

.join-link:hover,
.join-link:focus{
  fill: currentColor;
  background: var(--accent-color);
  border-radius: 50%;
}


.join-link{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.join-icon{
  fill:currentColor;
}


/*portfolio*/

.list-portfolio{
display: flex;
justify-content: center;
padding-bottom: 50px;
}

.button-portfolio {
padding-top: 94px;
padding-bottom: 94px;
}


.item-button button{
  text-align: center;
  font-family: roboto;
  font-style: normal;
  color: var(--body-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
border-style: none;
color: var(--body-color);
margin-right: 8px;
padding: 6px 22px;
}
.item-button button:focus,
.item-button button:hover{
background: var(--accent-color);
color: var(--primery-white-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-image{
  display: flex;
  flex-wrap: wrap;
}


.list-image .item{
  width: 370px;
  margin-right: 30px;
  border: 1px solid #EEEEEE;
  margin-bottom: 30px;
}

.list-image .item:hover,
.list-image .item:focus{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
cursor: pointer;
}

.list-image .item:nth-last-child(-n+3){
  margin-bottom: 0px;
}

.list-image .item:nth-child(3n+3){
  margin-right: 0;
}

.subtitle h3{
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  
}
.subtitle p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  width: 270px;
  color:#757575;
  margin-top: 4px;
  line-height: 1.87;
}

.subtitle {
  padding: 20px 24px;
}
